/* BASIC STYLES HERE */

.createNoteTextArea {
  min-width: 38dvh;
}

.activeNoteTextArea {
  min-height: 75dvh;
  min-width: 70dvh;
}

.hidden {
  display: none !important;
}

.main-bg-img {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/004/600/163/large/jan-urschel-20170117.jpg?1484873964");
  background-size: cover;
  background-position: center;
}

.blur {
  backdrop-filter: blur(3px);
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 676px) {
  .small-screen-margin {
    min-width: 48dvh;
    margin-left: 0;
    justify-content: center;
  }
}
