<div class="container-fluid">
    <div class="row">
        <div class="col-4 mt-3">
            <div class="d-flex align-items-center mb-2">
                <h1>Note Name <h4 class="mb-0 ms-3">Color: </h4>
                </h1>
            </div>
            <h3 class="mb-3">Created At: </h3>
            <h3 class="mb-3">Last Updated At: </h3>
            <div class="row mt-5">
                <div class="col-6 text-start mt-5">
                    <button class="btn btn-danger rounded-pill fs-5 mt-5"><i class="mdi mdi-trash-can"></i></button>
                </div>
            </div>

        </div>
        <div class="col-8 d-flex justify-content-center flex-column mt-3 text-center">

            <textarea name="activeNote" id="activeNote"
                class="activeNoteTextArea">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque iusto nesciunt quisquam atque ullam? Vel ratione assumenda nobis quos non? Aperiam veritatis aspernatur deserunt amet recusandae laboriosam est distinctio in.</textarea>
            <div class="row">
                <div class="col-12 d-flex justify-content-end mt-3">
                    <button class="btn btn-info rounded-pill fs-5"><i class="mdi mdi-content-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>